<div class="bg-image">
  <div class="logo-div">
    <%= image_tag("logo.svg", :class => '', :alt => "cuisineapp logo") %>
  </div>
  <div class="text-homepage">
    <h1>Do not you know what to cook today?</h1>
    <h3 class="mb-3">Do not worry! The CuisineApp is here to help you.</h3>
    <%= link_to "click here to find a recipe", recipes_path, class: 'btn btn-danger btn-lg' %>
  </div>
</div>